/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}	

body {
	font: 14px/1.6em 'Lato', arial, sans-serif;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	font-weight: 400;
	background: #fff;
}

ul.fortuna_ul {
	list-style-position: inside;
	list-style: none;
}
.fortuna_ul li:before {
  content: "+";
  color: #08ada7;
  margin-right: 13px;
  -size: 13px;
}

img {
	max-width: 100%;
	height: auto;
}
pre {
	word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
	margin:0 0 30px 0;
	-weight:400;
	line-height:1.4em;
	-family:'Lato', arial, sans-serif;
}
h1 { -size: 34px; line-height: 1.2em; }
h2 { -size: 27px; line-height: 1.2em; }
h3 { -size: 20px; }
h4 { -size: 17px; }
h5 { -size: 16px; }

h1 strong, h2 strong {
	-weight: 900;
}

b, strong {
	-weight: 600;
}

.lite {
	color: #aaa;
}
i, em {
	font-style: italic;
}

.accent {
	font-size: 1.2em;
	font-weight: 600;
	color: #f3703a;
}

.underline {
	text-decoration: underline;
}

.content {
	width: 80%;
	min-width: 800px;
	margin: 30px auto;
}
.header {
	padding-bottom: 16px;
}
.header .logo {
	float: left;
	margin: 0 10px 0 0;
}
.header h1{
	float: left;
	margin: 16px 0 0;
	font-size: 24px;
	font-weight: 300;
}

.header h1 span {
	display: none;
}

.header_links {
	float: right;
	margin: 24px 0 0;
	font-weight: 600;
}

.header_links a{
	margin: 0 0 0 20px;
}

.header_heading{
  border-top: 1px solid #eee;
  padding-bottom: 20px;
  padding-top: 70px;
}

a, a:visited, .link { 
	color: #08ada7; 
	outline: 0; 
	text-decoration: none;
	-webkit-transition: color 0.14s linear;
	-moz-transition: color 0.14s linear;
	-ms-transition: color 0.14s linear;
	-o-transition: color 0.14s linear;
	transition: color 0.14s linear;
	font-weight: 600;	
}
a:hover, .link:hover { 
	text-decoration:underline;
	cursor:pointer;
}



.center {
	text-align: center;
}
.clear {
	clear: both;
}

.bordered {
	padding-bottom: 16px;
	border-bottom: 1px solid #eee;
	margin-bottom: 30px
}
.h10 {
	height: 10px;
}
.h15 {
	height: 15px;
}
.h20 {
	height: 20px;
}
.h30 {
	height: 30px;
}
.h40 {
	height: 40px;
}
.h60 {
	height: 60px;
}.h100 {
	height: 100px;
}

.success, .warning_msg, .attention, .information {
	padding: 10px 14px 10px 16px;
	margin-top: 0px;
	margin-bottom: 14px;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius:2px;
    border-radius: 2px;	
}
.success {
	background: #edf8d5;
	border: 1px solid #ddedb9;
}
.warning_msg {
	background: #FFEAEA;
	border: 1px solid #efd9d9;
}
.attention {
	background: #FFF5CC;
	border: 1px solid #f0e6bf;	
}
.information {
	background: #e2f5f7;
	border: 1px solid #d1e9ec;
}



/* Table */
.fortuna_table {
	margin: 20px 0;
}
.fortuna_table th {
	border: 1px solid #e2e2e2;
	background-color: #f9f9f9;
	text-align: center;
	padding: 8px 14px;
	text-align: left;
	font-weight: 600;
}
.fortuna_table td {
	padding: 8px 14px;
	border: #e2e2e2 1px solid;

	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;	
}
.fortuna_table tr.odd td {
	background: #f9f9f9;
}
.fortuna_table tr:hover td {
	background: rgba(8,173, 167, 0.07);
}
.fortuna_table td.b{
	font-weight: 600;
}	




/* TABS */

/* New Tabs */
.newtabs {
	opacity: 0;
}

.horizontal .resp-tabs-list {
	height: 35px;
	margin: 0;
	padding: 0;
}
.horizontal .resp-tabs-list li {
	display: inline-block;
	margin: 0;
	list-style: none;
	cursor: pointer;
	float: left;
	color: #333;
	background-color: #fdfdfd;
		background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.02));
		background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.02));
		background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.02));
		background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.02));
		background-image: linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.02));	
	border-top: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	margin-right: -1px;
	padding: 7px 20px 6px 20px;
	float: left;
	text-align: center;
	text-decoration: none;
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	-khtml-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
	
	-webkit-transition: background-color 0.1s linear;
	-moz-transition: background-color 0.1s linear;
	-ms-transition: background-color 0.1s linear;
	-o-transition: background-color 0.1s linear;
	transition: background-color 0.1s linear;
}

.horizontal .resp-tabs-list li:hover {
	background-color: #f3f3f3;
	color: #333;
}

.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}

.horizontal .resp-tabs-list li.resp-tab-active {
	border-top: 2px solid #08ada7;
    border-bottom: none;
    margin-bottom: -1px;
    margin-top: -1px;
    padding: 7px 20px 7px 20px;
	background: #FFFFFF;
	color: #333;
}

.resp-tab-content {
    display: none;
    padding: 20px;
}
.resp-tab-content h4{
	margin-top: 0;
}
.resp-tab-content ul{
	margin-bottom: 6px;
}

.vertical .resp-tab-content {
    padding: 32px 40px;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {
    border: 1px solid #e1e1e1;
	padding: 0px 0px 0 80px;
	z-index: 2;
/*	overflow: auto;*/
	-moz-border-radius: 0 2px 4px 4px;
	-webkit-border-radius: 0 2px 4px 4px;
	-khtml-border-radius: 0 2px 4px 4px;
	border-radius: 0 2px 4px 4px;	
}

/* Last Element btm margin fix */
.single_tab_div > .wpb_row,
.single_tab_div > .wpb_content_element {
	margin-bottom: 20px;
}


/* Minimal */
.minimal_style.horizontal .resp-tab-content {
	border: 0;
	padding: 24px 0px 4px;
}

.minimal_style.horizontal .resp-tabs-list li {
	padding: 6px 20px 6px 20px;	
}

.minimal_style.horizontal .resp-tabs-list li.resp-tab-active {
	border-top: 1px solid rgba(0,0,0,0.1) !important;
	border-left: 1px solid rgba(0,0,0,0.1) !important;
	border-bottom: 1px solid rgba(0,0,0,0.1) !important;
	padding: 6px 20px 6px 20px;
	border-right: 0;
	background: #08ada7;
	color: #fff;
	margin: 0;
}
.minimal_style.horizontal .resp-tabs-list li {
	border-bottom: 1px solid #e1e1e1;
	border-radius: 0px !important;
}
.minimal_style.horizontal .resp-tabs-list li:first-child {
	border-radius: 4px 0 0 4px !important;
}
.minimal_style.horizontal .resp-tabs-list li:last-child {
	border-radius: 0 4px 4px 0 !important;
}



h2.resp-accordion {
    display: none;
	cursor: pointer;
    font-size: 13px;
    border: 1px solid #e1e1e1;
    border-top: 0px solid #e1e1e1;
    margin: 0px;
    padding: 10px 15px;
	background-color: #fefefe;
		background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.02));
		background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.02));
		background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.02));
		background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.02));
		background-image: linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.02));	
}
h2.resp-accordion:first-child{
	border-top: 1px solid #e1e1e1;
}

h2.resp-tab-active {
    margin-bottom: 0px !important;
    padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #e1e1e1 !important;
    background: blue;
}
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 23%;
}

.resp-vtabs .resp-tabs-list li {
    border-bottom: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;
    border-right: none;
    display: block;
    padding: 6px 16px 6px 16px !important;
    margin: 0;
    cursor: pointer;
    float: none;
	-moz-border-radius: 2px 0 0 2px;
	-webkit-border-radius: 2px 0 0 2px;
	-khtml-border-radius: 2px 0 0 2px;
	border-radius: 2px 0 0 2px;
	background-color: #fff;
		background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.02));
		background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.02));
		background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.02));
		background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.02));
		background-image: linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.02));	
	
	-webkit-transition: background-color 0.1s linear;
	-moz-transition: background-color 0.1s linear;
	-ms-transition: background-color 0.1s linear;
	-o-transition: background-color 0.1s linear;
	transition: background-color 0.1s linear;
}
.resp-vtabs .resp-tabs-list li:hover {
	background-color: #f7f7f7;
	color: #333;
}

.resp-vtabs .resp-tabs-container {
	padding: 0px;
	background-color: #fff;
	border-left: 1px solid rgba(0,0,0,0.08);
	float: left;
	width: 77%;
	min-height: 250px;
	clear: none;
	box-shadow: -8px 0px 22px -12px rgba(0, 0, 0, 0.1);
	border: 1px solid #e1e1e1;
	border-radius: 0 4px 4px 4px;
}

/* Minimal */
.minimal_style.resp-vtabs .resp-tabs-container {
	border: 0;
	box-shadow: none;
}

.minimal_style.vertical .resp-tab-content {
	padding: 0 0 0 60px;
}
.minimal_style.resp-vtabs .resp-tabs-list li.resp-tab-active {
	border-left: 1px solid rgba(0,0,0,0.1) !important;
	border-right: 1px solid rgba(0,0,0,0.1);
	border-bottom: 1px solid rgba(0,0,0,0.01);
	position: relative;
	background: #f3703a !important;
	color: #fff;
	margin-right: 0!important;
}
.parent-tab {
	background-color: #EDEDED !important;
	color: #333 !important;
	font-weight: 600;
	cursor: default !important;
}

.minimal_style.resp-vtabs .resp-tabs-list li {
	border-right: 1px solid #e1e1e1;
	border-radius: 0px !important;
	
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;	
}
.minimal_style.resp-vtabs .resp-tabs-list li:first-child {
	border-radius: 4px 4px 0 0 !important;
}
.minimal_style.resp-vtabs .resp-tabs-list li:last-child {
	border-radius: 0 0 4px 4px !important;
}

/* Arrow for minimal */
.minimal_style.resp-vtabs .resp-tabs-list li:after {
	content: "";
	float: right;
	font-size: 16px;	
}


.resp-vtabs .resp-tab-content {
    border: none;
}

.resp-vtabs .resp-tabs-list li.resp-tab-active {
    border-bottom: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;
    border-right: none;
    background: #f3703a;
    position: relative;
    z-index: 1;
	-moz-border-radius: 2px 0 0 2px;
	-webkit-border-radius: 2px 0 0 2px;
	-khtml-border-radius: 2px 0 0 2px;
	border-radius: 2px 0 0 2px;
}
.resp-vtabs > ul li:first-child {
	border-top: 1px solid #e1e1e1;
}

h2.resp-accordion span.resp-arrow {
    float: right;
	font-family: 'Lato';
	-size: 18px;
}
h2.resp-accordion span.resp-arrow:before {
	content: "\e78d";
}
h2.resp-accordion.resp-tab-active span.resp-arrow:before {
	content: "\e78e";
}
h2.resp-accordion span.icon {
	margin-right: 6px;
}

.resp-tabs-list .resp-tab-item span.icon {
	margin-right: 8px;
	margin-left: -4px;
	position: relative;
	top: 1px;
	width: 18px;
	display: inline-block;
}